<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="dbpath"
			 connectionString="Data Source=172.19.160.4;Initial Catalog=PROCUREMENT_DB;User ID=sa;Password=P455w0rd#;Pooling=true;Connect Timeout=30;Max Pool Size=20000;TrustServerCertificate=true;Persist Security Info=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="clientId" value="2c39d851-2ec9-4c9a-9899-d8b9c155a16a" />
		<add key="clientSecret" value="gn.8Q~NIg1plHBGLHF9b2I2doMON66eEeaz5~bAn" />
		<add key="tenantId" value="ca2aecff-bc6d-4032-9161-fe56057fd193" />
		<add key="endpoint" value="https://graph.microsoft.com/v1.0/users/noreply.it.system@nykgroup.com/sendMail" />
	</appSettings>

</configuration>
